@font-face {
    font-family: ubuntu;
    src: url('Ubuntu-R.ttf');
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: ubuntu;
    font-size: 2em;
    overflow: hidden;
    background-color: #022;
}

input {
    font-family: ubuntu;
}

h3 {
    margin: 0;
    color: #c4c4ea;
}

div.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div.main {
    position: absolute;
    width: 80%;
    height: 100%;
    /*background: #23b34a;*/
}

div.board {
    width: 70%;
    position: absolute;
    top: 35%;
    left: 15%;
    max-height: 128px;
    text-align: center;
    overflow: visible;
    user-select: none;
}

div.pot-total {
    display: none;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
    text-align: center;
    color: white;
    font-size: 0.8em;
}

div.pots {
    display: none;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 25%;
    text-align: center;
    color: white;
    font-size: 0.6em;
}

div.sidebar {
    position: absolute;
    left: 80%;
    width: 20%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
}

div.table {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 60%;
    background-color: #162;
    border-radius: 50%;
}

div.hand {
    text-align: center;
    position: absolute;
    /*left: calc(50% - 54px);*/
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -60px;
    overflow: hidden;
}

div.bet-window {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 0.7em;
}

div.bet-slider {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;
}

div.bet-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;
}

input#betsize {
    width: 75%;
}

input#betnumber {
    width: 20%;
    text-align: right;
    font-size: 0.9em;
}

div.nick {
    font-size: 0.8em;
    z-index: 20;
}

div.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 110px;
    width: 16%;
    height: 10%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-size: 0.6em;
    z-index: 20;
}

div.button.seat {
    /*position: absolute;*/
    width: 100px;
}

div.dealer-button {
    position: absolute;
    display: none;
    z-index: 100;
    width: 20px;
    height: 20px;
    box-shadow: 2px 2px;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #333;
    color: #333;
    background-color: white;
    user-select: none;
}

div.bet {
    display: none;
    position: absolute;
    font-size: 0.8em;
    background: rgba(0, 0, 60, 0.7);
    border-radius: 5px;
    padding: 5px;
}

div.equity {
    display: none;
    position: absolute;
    font-size: 0.8em;
    background: rgba(170, 179, 35, 0.7);
    border-radius: 5px;
    padding: 5px;
}

div.blinds {
    padding-top: 10px;
    font-size: 0.6em;
}

div.blinds-next {
    padding-top: 10px;
    font-size: 0.5em;
    color: #999;
}

@keyframes blink { 
    50% { border-color: yellow; } 
}
div.player.current {
    animation: blink .8s step-end infinite alternate;
}

div#player-0 {
    top: 100%;
    left: 42%;
}

div#player-1 {
    top: 90%;
    left: 12%;
}

div#player-2 {
    top: 60%;
    left: -10%;
}

div#player-3 {
    top: 20%;
    left: -5%;
}

div#player-4 {
    top: -5%;
    left: 25%;
}

div#player-5 {
    top: -5%;
    right: 25%;
}

div#player-6 {
    top: 20%;
    right: -5%;
}

div#player-7 {
    top: 60%;
    right: -10%;
}

div#player-8 {
    top: 90%;
    right: 12%;
}

div#player-0 div.bet, div#player-0 div.equity {
    top: -100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

div#player-0 div.dealer-button {
    top: -50px;
    left: -10%;
}

div#player-1 div.bet, div#player-1 div.equity {
    top: -80px;
    right: -20%;
}

div#player-1 div.dealer-button {
    top: -90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

div#player-2 div.bet, div#player-2 div.equity {
    top: -40px;
    right: -30%;
}

div#player-2 div.dealer-button {
    right: -20%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

div#player-3 div.bet, div#player-3 div.equity {
    top: 10px;
    right: -30%;
}

div#player-3 div.dealer-button {
    top: 45px;
    right: -25%;
}

div#player-4 div.bet, div#player-4 div.equity {
    top: 130%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

div#player-4 div.dealer-button {
    top: 80px;
    left: 10%;
}

div#player-5 div.bet, div#player-5 div.equity {
    top: 130%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

div#player-5 div.dealer-button {
    top: 80px;
    right: 10%;
}

div#player-6 div.bet, div#player-6 div.equity {
    top: 10px;
    left: -30%;
}

div#player-6 div.dealer-button {
    top: 45px;
    left: -25%;
}

div#player-7 div.bet, div#player-7 div.equity {
    top: -40px;
    left: -30%;
}

div#player-7 div.dealer-button {
    left: -20%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

div#player-8 div.bet, div#player-8 div.equity {
    top: -80px;
    left: -20%;
}

div#player-8 div.dealer-button {
    top: -90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

div.button.shortcut {
    width: 60px;
    font-size: 0.8em;
}

div.button.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 150px;
    font-size: 0.9em;
    margin-left: 10px;
}

div.button {
    display: inline-block;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    background: #87140f;
    color: #fff;
    font-size: 0.8em;
    user-select: none;
    -webkit-user-select: none;
}

div.button:first-child {
    margin-left: 0;
}

div.button:hover {
    background: #b3211b;
    cursor: pointer;
}

div#ready-button {
    display: none;
    width: 20%;
    position: absolute;
    top: 45%;
    left: 40%;
    z-index: 2;
}

div#waiting {
    display: none;
    font-size: 0.6em;
    text-align: center;
    color: white;
    width: 40%;
    position: absolute;
    top: 45%;
    left: 30%;
}

#chat-input {
    background-color: black;
    border: 0;
    height: 2em;
    color: white;
    padding: 0 15px;
    font-size: 0.5em;
}

#chat-input:focus {
    outline: none;
}

div.scorecard {
    width: 100%;
    height: 50%;
    /*background: #099253;*/
    display: flex;
    flex-direction: column;
}

div.chat {
    width: 100%;
    height: 50%;
    /*background: #047b71;*/
    display: flex;
    flex-direction: column;
}

/* chat styles */
div#chat-history {
    width: 100%;
    height: 100%;
    font-size: 0.45em;
    text-align: left;
    overflow-y: auto;
}

div#chat-history p {
    margin: 2px 5px;    
}

span.chat-nick {
    color: #ffe200;
    font-style: italic;
}

span.chat-msg {
    color: white;
}

span.chat-server {
    color: #faff2f;
}

div#chat-history::-webkit-scrollbar {
    width: 5px;
}
 
div#chat-history::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
div#chat-history::-webkit-scrollbar-thumb {
    background-color: yellow;
    outline: 1px solid slategrey;
}

span.chat-hand {
    color: white;
    font-style: normal;
}

.red {
    color: red;
}

.black {
    color: black;
}

div#username-request {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px #c4c4ea solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #c4c4ea;
    position: fixed;
    top: 50%;
    left: 40%;
    width: 20%;
    height: 60px;
    margin-top: -40px;
    margin-left: -10%;
    font-size: 0.7em;
    padding: 5px;
    z-index: 100;
}

div.lang {
    position: fixed;
    top: 0;
    left: 0;
}

.disconnected {
    color: #888;
}

input#username {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    text-align: center;
    width: 70%;
    color: white;
    font-size: 0.7em;
}

select#language {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    text-align: center;
    width: 100px;
    color: white;
    font-size: 0.7em;
}

select#language option {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

input#username:focus {
    outline: none;
}

select#language:focus {
    outline: none;
}

div.game {
    display: none;
}
